Cac_ATCC_49725.fasta
Cac_ATCC_49726.fasta
Cac_BWA070.fasta
Cac_BWA096.fasta
Cac_BWA109.fasta
Cac_BWA121.fasta
Cac_BWA161.fasta
Cac_BWA270.fasta
Cac_BWA273.fasta
Cac_DU075.fasta
Cac_DU076.fasta
Cac_DU079.fasta
Cac_KPL_1818.fasta
Cac_KPL_1824.fasta
Cac_KPL_1996.fasta
Cac_KPL_2617.fasta
Cac_KPL_2618.fasta
Cac_KPL_2641.fasta
Cac_KPL_2652.fasta
Cac_KPL_2660.fasta
Cac_KPL_2783.fasta
Cac_KPL_2859.fasta
Cac_KPL_3647.fasta
Cac_KPL_3674.fasta
Cac_KPL_3703.fasta
Cac_KPL_3774.fasta
Cac_KPL_3802.fasta
Cac_KPL_3832.fasta
Cac_KPL_3921.fasta
Cac_KPL_3926.fasta
Cac_KPL_3970.fasta
Cac_KPL_4034.fasta
Cac_KPL_4065.fasta
Cac_KPL_4075.fasta
Cma_CCUG_32361.fasta
Cma_NML_080212.fasta
Cma_NML_120205.fasta
Cpr_1274_CJEI.fasta
Cpr_BWA124.fasta
Cpr_BWA146.fasta
Cpr_BWA290.fasta
Cpr_DE0530.fasta
Cpr_DSM_44285.fasta
Cpr_HSID18035.fasta
Cpr_KPL_2654.fasta
Cpr_KPL_2657.fasta
Cpr_KPL_2755.fasta
Cpr_KPL_2785.fasta
Cpr_KPL_2804.fasta
Cpr_KPL_2811.fasta
Cpr_KPL_3672.fasta
Cpr_KPL_3675.fasta
Cpr_KPL_3889.fasta
Cpr_KPL_3953.fasta
Cpr_KPL_3967.fasta
Cpr_KPL_4040.fasta
Cps_90104.fasta
Cps_BWA092.fasta
Cps_BWA110.fasta
Cps_BWA118.fasta
Cps_BWA127.fasta
Cps_BWA141.fasta
Cps_BWA164.fasta
Cps_BWA166.fasta
Cps_BWA172.fasta
Cps_BWA184.fasta
Cps_BWA188.fasta
Cps_BWA198.fasta
Cps_BWA223.fasta
Cps_BWA238.fasta
Cps_BWA283.fasta
Cps_BWA300.fasta
Cps_BWA305.fasta
Cps_BWA311.fasta
Cps_DSM_44287.fasta
Cps_DU080.fasta
Cps_HSID17575.fasta
Cps_HSID17576.fasta
Cps_KPL_1989.fasta
Cps_KPL_2621.fasta
Cps_KPL_2640.fasta
Cps_KPL_2667.fasta
Cps_KPL_2733.fasta
Cps_KPL_2773.fasta
Cps_KPL_2795.fasta
Cps_KPL_2826.fasta
Cps_KPL_2834.fasta
Cps_KPL_2865.fasta
Cps_KPL_2915.fasta
Cps_KPL_3671.fasta
Cps_KPL_3702.fasta
Cps_KPL_3770.fasta
Cps_KPL_3772.fasta
Cps_KPL_3833.fasta
Cps_KPL_3966.fasta
Cps_KPL_4010.fasta
Cps_KPL_4025.fasta
Cps_KPL_4041.fasta
Cps_KPL_4066.fasta
Ctu_BWA150.fasta
Ctu_BWA158.fasta
Ctu_BWA195.fasta
Ctu_BWA207.fasta
Ctu_DSM_44922.fasta
Ctu_DU074.fasta
Ctu_KPL_3807.fasta
Ctu_SK141.fasta
